<!DOCTYPE HTML>
<html>
	<head>
		<title>Chandler Christian Community Center</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<link rel="shortcut icon" href="images/logo1.jpg">
	</head>
	<body class="no-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header">


						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a href="home.html">Home</a></li>									
									<li><a href="NeedHelp.html">NEED HELP?</a></li>
									<li><a href="programs.html">Programs</a></li>
									<li><a href="Events.html">Events</a></li>
									<li><a href="workWithUs.html">Come Work With Us!</a></li>									
									<li class="current"><a href="contact.html">Contact</a></li>
									<li><a href="Signup.html" id="logout_name">Sign In/Register</a></li>
								</ul>
							</nav>

					</div>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">

						<!-- Content -->
							<article class="box post" style="text-align:center">
								<header>
									<h2>CONTACT</h2>
								</header>
								<p>
									Chandler Christian Community Center Hours:<br>
									8 AM to 4 PM, Monday-Friday<br>
									Phone: 480-963-1423<br>
									Fax: 480-726-0896
								</p>
								<section>
									<header>
										<h3>Address:</h3>
									</header>
									<p>345 S. California St.<br>
										Chandler, AZ 85225
									</p>
								</section>
								<section>
									<header>
										<h3>Mailing Address:</h3>
									</header>
									<p>PO Box 591<br>
										Chandler, AZ 85244<br>
										Executive Director- Trinity Donovan
									</p>
								</section>
							</article>

					</div>
				</div>
								<!-- Copyright -->
									<div id="copyright">
										<ul class="links">
											<li>&copy; Chandler Christian Community Center • 480-963-1423 • Fax - 480-726-0896
												345 S. California St. • Chandler, AZ 85225 • Sitemap
												PO Box 591 • Chandler, AZ 85244 <br>Copyright © 2005-2015 All Rights Reserved</li>
										</ul>
									</div>

							</div>
						</div>
					</section>
				</div>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/skel-viewport.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>