
<!DOCTYPE HTML>
<html>
	<head>
		<title>Chandler Christian Community Center</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<script src="js/ie-emulation-modes-warning.js"></script>
		<link href="carousel.css" rel="stylesheet">
		<link rel="shortcut icon" href="images/logo1.jpg">
	</head>
	<body class="homepage">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header">

						<!-- Logo -->
							<!--<h1><a href="index1.html">CHANDLER CHRISTIAN COMMUNITY CENTER</a></h1>-->

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li class="current"><a href="home.html">Home<a></li>
									<li><a href="NeedHelp.html">NEED HELP?</a></li>
									<li><a href="programs.html">Programs</a></li>
									<li><a href="Events.html">Events</a></li>
									<li><a href="workWithUs.html">Work With Us!</a></li>									
									<li><a href="contact.html">Contact</a></li>
									<li><a href="Signup.html" id="logout_name">Sign In/Register</a></li>
								</ul>
							</nav>


							<!-- Carousel
					    ================================================== -->
					    <!--<section id="banner">-->
						     <div id="myCarousel" class="carousel slide" data-ride="carousel">
						      <!-- Indicators -->
						      <ol class="carousel-indicators">
						        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						        <li data-target="#myCarousel" data-slide-to="1"></li>
						        <li data-target="#myCarousel" data-slide-to="2"></li>
						        <li data-target="#myCarousel" data-slide-to="3"></li>
						        <li data-target="#myCarousel" data-slide-to="4"></li>
						        <li data-target="#myCarousel" data-slide-to="5"></li>
						        <li data-target="#myCarousel" data-slide-to="6"></li>
						      </ol>
						      <div class="carousel-inner" role="listbox">
						        <div class="item active">
						          <img class="first-slide" src="images/pic04.jpg" alt="First slide">
						          <div class="container">
						            <div class="carousel-caption">
						              <h1>Mission</h1>
						              <p style = "color:black">At Chandler Christian Community Center, we change lives by nourishing minds and bodies to create a connected, thriving community.</p>
						            </div>
						          </div>
						        </div>
						        <div class="item">
						          <img class="second-slide" src="images/pic04.jpg" alt="Second slide">
						          <div class="container">
						            <div class="carousel-caption">
						              <h1>Vision</h1>
						              <p style = "color:black">To have a healthy and productive community built on a foundation of dignity and hope.</p>
						            </div>
						          </div>
						        </div>
						        <div class="item">
						          <img class="third-slide" src="images/pic04.jpg" alt="Third slide">
						          <div class="container">
						            <div class="carousel-caption">
						              <h1>Impact to the community</h1>
						              <p style = "color:black">Last fiscal year (2014/2015), CCCC served 18,686 unique individuals from 5,969 households.<br>CCCC's Food Bank distributed 16,961 food boxes. That was enough food to feed 58,458 individuals for at least 3 days (12,090 unique individuals).</p>
						            </div>
						          </div>
						        </div>
						        <div class="item">
						          <img class="third-slide" src="images/pic04.jpg" alt="Third slide">
						          <div class="container">
						            <div class="carousel-caption">
						              <h1>Family Resource Center</h1>
						              <p style = "color:black">12,796 hours of instruction and services were provided to children and adults through our Family Resource Center Programming.<br>2,391individuals were beneficiaries of SNAP and/or AHCCCS dollars.<br>198 individuals received health and wellness checks and 168 referrals were provided for medical or dental care</p>
						            </div>
						          </div>
						        </div>
						        <div class="item">
						          <img class="third-slide" src="images/pic06.jpg" alt="Third slide">
						          <div class="container">
						            <div class="carousel-caption">
						              <h1>I­HELP (Interfaith Homeless Emergency Lodging Program)</h1>
						              <p style = "color:black">Provided 4,852 bed nights to 252 unduplicated individuals.<br>206 individuals received intensive case management services ­71 homeless individuals received employment.<br>52 homeless individuals were housed</p>
						            </div>
						          </div>
						        </div>
						        <div class="item">
						          <img class="third-slide" src="images/pic07.jpg" alt="Third slide">
						          <div class="container">
						            <div class="carousel-caption">
						              <h1>Community Action Program</h1>
						              <p style = "color:black">Our Community Action Program provided supportive services, case management, referrals and financial assistance to over 15,370 community members, preventing 2,404 utility disconnects and 304 evictions totaling $1,056,212.<br>Our VITA, Volunteer Income Tax Assistance, prepared 266 returns, recovering $335,222 in federal refunds and $52,950 in state refunds.</p>
						            </div>
						          </div>
						        </div>
						        <div class="item">
						          <img class="third-slide" src="images/pic04.jpg" alt="Third slide">
						          <div class="container">
						            <div class="carousel-caption">
						              <h1>Senior Centers</h1>
						              <p style = "color:black">The Chandler and Gilbert senior centers provided 34,730 meals at their respective locations and 38,406 home delivered meals to homebound seniors. A total of 73,136 meals were provided to 1,272 individuals!<br>The center disbursed 67,050 tickets for transportation to and from the centers where 1,142 senior activities and classes were provided with a total 21,149 participants.</p>
						            </div>
						          </div>
						        </div>
						      </div>
						      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
						        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						        <span class="sr-only">Previous</span>
						      </a>
						      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
						        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						        <span class="sr-only">Next</span>
						      </a>
						    </div><!-- /.carousel -->
					    <!--</section>--><!-- /.carousel -->
					    




						<!-- Intro -->
							<section id="intro" class="container">
								<div class="row">
									<div class="4u 12u(mobile)">
										<section class="first">
											<header>
												<h2>Follow Us!</h2>
											</header>
											
											<ul class="social">
												<li><a class="icon fa-facebook" target="_blank" href="https://www.facebook.com/Chandler-Christian-Community-Center-165492116800788/timeline/"><span class="label">Facebook</span></a></li>
												<li><a class="icon fa-twitter" target="_blank" href="https://twitter.com/Chandlerfb"><span class="label">Twitter</span></a></li>
												<li><a class="icon fa-linkedin" target="_blank" href="https://www.linkedin.com/company/chandler-christian-community-center"><span class="label">LinkedIn</span></a></li>
											</ul>

											<header>
												<h2>Subscribe</h2>
											</header>
											<p>Join our email newsletter and create a healthy community for Chandler.</p><br>
											<div style = "display: inline">
												<p style = "text-align:center">Email Address:<span style = "color:red">* </span><span><input type = "Text"></input></span></p>
												<button type="submit" style = "margin-top:10px;">Submit</button>
												
											</div>
										</section>
									</div>
									<div class="4u 12u(mobile)">
										<section class="middle">
											<!--<i class="icon featured alt fa-flash"></i>-->
											<header>
												<h2>Upcoming Events</h2>
											</header>
											<ol id="event_scroll">
												
											</ol>
											<!--<p>Nisl amet dolor sit ipsum veroeros sed blandit consequat veroeros et magna tempus.</p>-->

											<header>
												<h2>Quick Links</h2>
											</header>
											<ul class="actions">
												<li><a href="Events.html" class="button big">Get Started</a></li><br><br>
												<li><a href="NeedHelp.html" class="button alt big">Learn More</a></li>
											</ul>
										</section>
									</div>
									<div class="4u 12u(mobile)">
										<section class="last">
											<!--<i class="icon featured alt2 fa-star"></i>-->
											<header>
												<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
												<input type="hidden" name="cmd" value="_s-xclick">
												<input type="hidden" name="hosted_button_id" value="9385203">
												<input type="image"
												src="https://www.paypal.com/en_US/i/btn/btn_donateCC_LG.gif" border="0"
												name="submit" alt="PayPal - The safer, easier way to pay online!">
												<img alt="" border="0"
												src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
												</form>
												<!--<a href="#" class="button big">DONATE</a>-->
											</header>
											<h2>Please help us grow!</h2><br><br>
											<header>
												<h2>ARIZONA TAX CREDIT</h2>
											</header>
											<p>State taxpayers who contribute to CCCC can receive a dollar for dollar tax credit through the Working Poor Tax Credit. Couples filing jointly can receive up to $400 back and single taxpayers can receive up to $200. Make your donation by December 31st each year.</p>
										</section>
									</div>
								</div>
								<!--<footer>
									<ul class="actions">
										<li><a href="#" class="button big">Get Started</a></li>
										<li><a href="#" class="button alt big">Learn More</a></li>
									</ul>
								</footer>-->
							</section>

					</div>
				</div>


								<!-- Copyright -->
									<div id="copyright">
										<ul class="links">
											<li>&copy; Chandler Christian Community Center • 480-963-1423 • Fax - 480-726-0896
												345 S. California St. • Chandler, AZ 85225 • Sitemap
												PO Box 591 • Chandler, AZ 85244 • Copyright © 2005-2015 All Rights Reserved</li>
											</li>
										</ul>
									</div>

							</div>
						</div>
					</section>
				</div>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/skel-viewport.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

			<!-- Bootstrap core JavaScript
		    ================================================== -->
		    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		    <script src="js/bootstrap.min.js"></script>
		    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
		    <script src="js/vendor/holder.min.js"></script>
		    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		    <script src="js/ie10-viewport-bug-workaround.js"></script>
		    <script>
			$(document).ready(function(){
			if(window.localStorage.getItem("logged_in")!=null){
			if(window.localStorage.getItem("logged_in")==1){
			$('#logout_name').html(window.localStorage.getItem("first_name")+" <a onclick='logout();'>Logout</a>");
			}
			}
			
			var d = new Date();
			var strDate = d.getFullYear() + "-" + (d.getMonth()+1) + "-" + d.getDate();
			$.ajax({
    		type:"GET",
    		url:"http://52.10.190.154:8080/chandler/getevent",
    		data:{"curr_date":strDate,"type":"ALL"},
    		success:function(data){
    		
    		var scroll_event="<marquee scrollamount='2' direction='up'>";
    		console.log(data);
    		if(JSON.parse(data)[0].message=="NO_DATA"){
    		$('#event_scroll').append("<li style='text-align:center;'>NO EVENTS</li>");
    		}else if(JSON.parse(data)[0].message=="SUCCESS"){
    		var event_data=JSON.parse(data);
    		event_data.splice( 0, 1 );
    		$.each(event_data,function(i,item){
    		console.log(item.name);
    		scroll_event+="<li style='text-align:center;'>"+item.name+" Date: "+item.date+"</li>";
    		})
    		scroll_event+="</marquee>";
    		$('#event_scroll').append(scroll_event);
    		}
    		},
    		error:function(error){
    		console.log(error);
    		}
    		})
    		
    		function logout(){
    		localStorage.clear();
    		window.location.href="home.html";
    		}
			})
			</script>


	</body>
</html>