
<!DOCTYPE HTML>
<html>
	<head>
		<title>Chandler Christian Community Center</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	    <link rel="shortcut icon" href="images/logo1.jpg">
		<style>
	      html, body {
	        height: 100%;
	        margin: 0;
	        padding: 0;
	      	}
	      	 .google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
		.controls {
		  margin-top: 10px;
		  border: 1px solid transparent;
		  border-radius: 2px 0 0 2px;
		  box-sizing: border-box;
		  -moz-box-sizing: border-box;
		  height: 32px;
		  outline: none;
		  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
		}

		#pac-input {
		  background-color: #fff;
		  font-family: Roboto;
		  font-size: 15px;
		  font-weight: 300;
		  margin-left: 12px;
		  padding: 0 11px 0 13px;
		  text-overflow: ellipsis;
		  width: 300px;
		}

		#pac-input:focus {
		  border-color: #4d90fe;
		}

		.pac-container {
		  font-family: Roboto;
		}

		#type-selector {
		  color: #fff;
		  background-color: #4d90fe;
		  padding: 5px 11px 0px 11px;
		}

		#type-selector label {
		  font-family: Roboto;
		  font-size: 13px;
		  font-weight: 300;
		}

	   </style>
	</head>
	<body class="left-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header">

						<!-- Nav -->
							<nav id="nav" position="static">
								<ul>
									<li><a href="home.html">Home</a></li>									
									<li class="current"><a href="NeedHelp.html">NEED HELP?</a></li>
									<li><a href="programs.html">Programs</a></li>
									<li><a href="Events.html">Events</a></li>
									<li><a href="workWithUs.html">Come Work With Us!</a></li>									
									<li><a href="contact.html">Contact</a></li>
									<li><a href="Signup.html" id="logout_name">Sign In/Register</a></li>
								</ul>
							</nav>

					</div>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div class="row">
							<div class="4u 12u(mobile)">

								<!-- Sidebar -->
									<section class="box">
										<header>
												<ul class = "divided" style:"align:center">
													<li><h3><a href='#sa' class = "current selected-list" >Schedule an appointment</a></h3></li>
													<li><h3><a href='#rp' class = "current" >Request Pickup</a></h3></li>
													<li><h3><a href='#py' class = "current" >Payment</a></h3></li>
													<li><h3><a href='#fd' class = "current" >Food</a></h3></li>
													<li><h3><a href='#ed' class = "current" >Education</a></h3></li>
													<li><h3><a href='#sht' class = "current" >Shelter</a></h3></li>
													<li><h3><a href='#jb' class = "current" >Job</a></h3></li>
												</ul>
										</header>
									</section>

							</div>
							<div class="8u 12u(mobile) important(mobile)">

								<!-- Content -->
									<article class="box post" style="position:relative">
										
										<!--<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>-->
										<div >
											<header id = "sa">
												<h2>Schedule An Appointment</h2>


												<br>
												<div class="input date" id="dp3" data-date="12-02-2012" data-date-format="dd-mm-yyyy" >
  												<input class="span2" size="16" type="text" value="12-02-2012">
  												<span class="add-on"><i class="icon-th"></i></span>
  											</div>
  											<div class = "datepicker"></div>
  											<button style="margin-top:10px">submit</button>
											</header>


										</div>
									
										<div >
											<header id = "rp">
												<h2>Request Pickup</h2><br><br>
												
												<input id="pac-input" class="controls" type="text"
													        placeholder="Enter a location">
													    <div id="map" class="google-maps"></div>

													    <script>
															function initMap() {
															  var map = new google.maps.Map(document.getElementById('map'), {
															    center: {lat: -33.8688, lng: 151.2195},
															    zoom: 13
															  });
															  var input = /** @type {!HTMLInputElement} */(
															      document.getElementById('pac-input'));

															  var types = document.getElementById('type-selector');
															  map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
															  //map.controls[google.maps.ControlPosition.TOP_LEFT].push(types);

															  var autocomplete = new google.maps.places.Autocomplete(input);
															  autocomplete.bindTo('bounds', map);

															  var infowindow = new google.maps.InfoWindow();
															  var marker = new google.maps.Marker({
															    map: map,
															    anchorPoint: new google.maps.Point(0, -29)
															  });

															  autocomplete.addListener('place_changed', function() {
															    infowindow.close();
															    marker.setVisible(false);
															    var place = autocomplete.getPlace();
															    if (!place.geometry) {
															      window.alert("Autocomplete's returned place contains no geometry");
															      return;
															    }

															    // If the place has a geometry, then present it on a map.
															    if (place.geometry.viewport) {
															      map.fitBounds(place.geometry.viewport);
															    } else {
															      map.setCenter(place.geometry.location);
															      map.setZoom(17);  // Why 17? Because it looks good.
															    }
															    marker.setIcon(/** @type {google.maps.Icon} */({
															      url: place.icon,
															      size: new google.maps.Size(71, 71),
															      origin: new google.maps.Point(0, 0),
															      anchor: new google.maps.Point(17, 34),
															      scaledSize: new google.maps.Size(35, 35)
															    }));
															    marker.setPosition(place.geometry.location);
															    marker.setVisible(true);

															    var address = '';
															    if (place.address_components) {
															      address = [
															        (place.address_components[0] && place.address_components[0].short_name || ''),
															        (place.address_components[1] && place.address_components[1].short_name || ''),
															        (place.address_components[2] && place.address_components[2].short_name || '')
															      ].join(' ');
															    }

															    infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
															    infowindow.open(map, marker);
															  });

															  // Sets a listener on a radio button to change the filter type on Places
															  // Autocomplete.
															  function setupClickListener(id, types) {
															    var radioButton = document.getElementById(id);
															    radioButton.addEventListener('click', function() {
															      autocomplete.setTypes(types);
															    });
															  }

															  setupClickListener('changetype-all', []);
															  setupClickListener('changetype-address', ['address']);
															  setupClickListener('changetype-establishment', ['establishment']);
															  setupClickListener('changetype-geocode', ['geocode']);
															}

													    </script>
													    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSrFlCJdWbSv_Z8v0U1wFmkCaapdaoBvs&libraries=places&callback=initMap"
													        async defer></script>
											</header>
											<button onclick="submitAppointment()">submit</button>
										</div>
										<div id = "py" style = "position:absolute; visibility:hidden">
											<header>
												<h2>Payment</h2>
												
											</header>
										</div>
										<div style = "position:absolute; visibility:hidden">
											<header>
												<h2>Food</h2>
												
											</header>
										</div>
										<div style = "position:absolute; visibility:hidden">
											<header>
												<h2>Education</h2>
												
											</header>
										</div>
										<div style = "position:absolute; visibility:hidden">
											<header>
												<h2>Shelter</h2>
												
											</header>
										</div>
										<div style = "position:absolute; visibility:hidden">
											<header>
												<h2>Jobs</h2>
												
											</header>
										</div>
									</div>	
									</div>
						</div>
					</div>
				</div>

								<!-- Copyright -->
									<div id="copyright">
										<ul class="links">
											<li>&copy; Chandler Christian Community Center • 480-963-1423 • Fax - 480-726-0896
												345 S. California St. • Chandler, AZ 85225 • Sitemap
												PO Box 591 • Chandler, AZ 85244 <br>Copyright © 2005-2015 All Rights Reserved
											</li>
										</ul>
									</div>

							</div>
						</div>
					</section>
				</div>

		</div>

		<!-- Scripts -->

			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/skel-viewport.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			<script>
			$(document).ready(function(){
			$('.current').click(function(){
			$('.current').removeClass('selected-list');
			$(this).addClass('selected-list');
			});
			
			if(window.localStorage.getItem("logged_in")!=null){
			if(window.localStorage.getItem("logged_in")==1){
			$('#logout_name').html(window.localStorage.getItem("first_name")+" <a onclick='logout();'>Logout</a>");
			}
			
			
			function logout(){
    		localStorage.clear();
    		window.location.href="home.html";
    		}
			}
			})


	</body>
</html>