<!DOCTYPE HTML>
<html>
	<head>
		<title>Chandler Christian Community Center</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<link rel="shortcut icon" href="images/logo1.jpg">
	</head>
	<body class="left-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header">

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a href="home.html">Home</a></li>									
									<li><a href="NeedHelp.html">NEED HELP?</a></li>
									<li class="current"><a href="programs.html">Programs</a></li>
									<li><a href="Events.html">Events</a></li>
									<li><a href="workWithUs.html">Work With Us!</a></li>									
									<li><a href="contact.html">Contact</a></li>
									<li><a href="Signup.html" id="logout_name">Sign In/Register</a></li>
								</ul>
							</nav>

					</div>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div class="row">
							<div class="4u 12u(mobile)" >

								<!-- Sidebar -->
									<section class="box" >
										<header>
												<ul class = "divided" style:"align:center">
													<li><h3><a href='#prog-side1' class = "current selected-list" >Community Action Program</a></h3></li>
													<li><h3><a href='#prog-side2' class = "current">Family Resource Center</a></h3></li>
													<li><h3><a href='#prog-side3' class = "current" >Food Bank</a></h3></li>
													<li><h3><a href='#prog-side4' class = "current" >Seniors</a></h3></li>
												</ul>
										</header>
									</section>
							</div>
							<div class="8u 12u(mobile) important(mobile)">

								<!-- Content -->
									<article class="box post">
										<div class="hidden">
											<header id ="prog-side1">
												<h2>COMMUNITY ACTION PROGRAM</h2>
												<p>Community Action Program (CAP)</p>
											</header>
											<p>
												It is an unfortunate reality that many people will be in need of emergency assistance at some time in their lives. The sudden loss of a job, a catastrophic event or illness, even extreme weather can create unmanageable burdens for anyone. Our CAP programs offer a balanced approach to meet the needs of our community. Please click the following link for answers to many frequently asked questions:
											</p>
											<section>
												<header>
													<h3>Case Management:</h3>
												</header>
												<ul style="list-style-type:disc">
													<li>Goal Planning Through Life Action Maps</li>
													<li>Job Training</li>
													<li>Employment and Education Referrals</li>
													<li>Financial Education</li>
													<li>Referrals to Other Services and Programs</li>
													<li>Follow-up and ongoing support</li>
												</ul>
											</section>
											<section>
												<header>
													<h3>Emergency Financial Assistance:</h3>
												</header>
												<ul style="list-style-type:disc">
													<li>Utility Assistance</li>
													<li>Eviction Prevention</li>
													<li>Shelter/Housing Referrals</li>
													<li>Food and Clothing Referrals</li>
												</ul>
											</section>
											<section>
												<header>
													<h3>Last year, we provided:</h3>
												</header>
												<ul style="list-style-type:disc">
													<li>Rental Assistance for 383 households ($274,202)</li>
													<li>Utility Assistance for 1,744 households ($1,144,454)</li>
													<li>242 Referrals for Home Repairs and/or Weatherization</li>
													<li>1,500 Referrals for Other Services (Food, Clothing, Housing, Budgeting, etc.)</li>
												</ul>
											</section>
											<section>
												<header>
													<h3>All requests for assistance must be accompanied by a Prescreening Packet English Version / Spanish Version.  If you live in Gilbert, Chandler, Sun Lakes, or the Maricopa County portion of Queen Creek, you can download and complete a prescreening packet prior to coming into our office or call for other ways to submit your request.<br><br>If you are interested in more information, or in need of assistance, please visit one of our locations:</h3>
												</header>
											</section>
											<section>
												<header>
													<h3>Chandler CAP</h3>
												</header>
												<p>345 S. California St<br>Chandler, AZ 85225<br>480-963-4321</p>
											</section>
											<section>
												<header>
													<h3>Gilbert CAP</h3>
													<p>44 N. Oak St. (in the Boys and Girls Club)<br>Gilbert, AZ 85233<br>480-892-5331</p>
												</header>
											</section>
										</div>
									</article>
									<article class="box post">
										<div class="hidden">
											<header id = "prog-side2">
												<h2>FAMILY RESOURCE CENTER</h2>
											</header>
											<section>
												<header>
													<h3>Family Resource Center Activities:</h3>
												</header>
												<p>The Family Resource Center provides a safe, positive environment for family development. Their model is to meet some of the needs families have outside of nutritional.</p>
											</section>
											<section>
												<header>
													<h3>Giggles Squiggles and Squirms:</h3>
												</header>
												<p>Early Literacy Program 3-5 Year Olds – Monday &amp; Thursday between 1:00 and 3:00 pm<p>
											</section>
											<section>
												<header>
													<h3>Interactive Family Play:</h3>
												</header>
												<p>Call for an open time for just your family or join us every Friday between 8:30 and 10:00 am</p>
											</section>
											<section>
												<header>
													<h3>Baby Brain Box:</h3>
												</header>
												<p>New Directions Institute – Getting Your Child’s Brain Ready for School; please call for more information or to schedule an appointment.</p>
											</section>
											<section>
												<header>
													<h3>Weekend Homeless Meal Program:</h3>
												</header>
												<p>Touch of Love Ministries -Fellowship meal open to any and all on the last Saturday of the month – November 24th between 3:00 and 5:00 pm.</p>
											</section>
											<section>
												<header>
													<h3>Free Fluoride Treatments:</h3>
												</header>
												<p>Dignity Health – children ages 0-5 during supplemental food distribution – November 30th between 7:30 and 10:00 am.</p>
											</section>
											<section>
												<header>
													<h3>Narcotics Anonymous:</h3>
												</header>
													<p>Meetings are every Wednesday, Friday, and Sunday at 7:00 pm.</p>
											</section>
										</div>
									</article>
									<article class="box post">
										<div class="hidden">
											<header id="prog-side3">
												<h2>FOOD BANK</h2>
											</header>
											<p>Food Bank</p>
											<section>
												<p>Each year CCCC distributes over 15,000 food boxes with enough food to feed over 50,000 adults and children. Persons needing emergency food are referred by a variety of agencies but primarily by the CAP (Community Action Program) office. Other referrals come from Child Protective Services, non profits, churches, schools, the Chandler Police Department’s Victim Services and the Chandler Fire Department.</p>
											</section>
											<section>
												<header>
													<h3>Emergency Food Boxes:</h3>
												</header>
												<p>Tailored to family size and special dietary needs including infants, children, and homeless individuals.<p>
											</section>
											<section>
												<header>
													<h3>Emergency Food Distribution:</h3>
												</header>
												<p>Monday – 12:00 through 3:00 pm<br>Tuesday, Wednesday and Thursday – 9:00 through 12:00 pm</p>
											</section>
											<section>
												<header>
													<h3>Supplemental Food Boxes:</h3>
												</header>
												<p>Distributed weekly containing fresh perishable food</p>
											</section>
											<section>
												<header>
													<h3>Supplemental Food Distribution:</h3>
												</header>
												<p>Every Friday – 9:00 through 11:00</p>
											</section>
											<section>
												<header>
													<h3>Food Donations:</h3>
												</header>
												<p>Food is donated from local grocers and restaurants, individuals, clubs, businesses, faith organizations and more. Federal food comes through the United Food Bank. All donations are accepted during business hours. Please contact the office for special arrangements.</p><br>
												<p>*In accordance with Federal law and U.S Department of Agriculture policy, this institution is prohibited from discriminating on the basis of race, color, national origin, sex, age, or disability.</p>
											</section>	
										</div>
									</article>
									<article class="box post">	
										<div class="hidden" >
											<header id="prog-side4">
												<h2>SENIORS</h2>
												<p>Senior Programs</p>
											</header>
											<p>
												Our Senior Centers provide hours of camaraderie, intellectual stimulation and nutritious meals to the frail, elderly and disabled in our communities.  In addition to serving a hot meal, both centers offer an array of activities, outings, workshops, classes, medical programs, transportation, referrals, and volunteer opportunities.  We operate the local senior center for the Town of Gilbert and the senior meals program in the City of Chandler.
											</p>
											<section>
												<header>
													<h3>Last year, we provided:</h3>
												</header>
												<ul style="list-style-type:disc">
													<li>29,984 Meals in the Dining Room at our Centers</li>
													<li>31,520 Meals Delivered to the Homebound or Elderly</li>
													<li>843 Activities with 17,146 Participants</li>
													<li>46,576 Dial A Ride Tickets for transportation</li>
												</ul>
											</section>
											<section>
												<header>
													<h3>Congregate Meal Program:</h3>
												</header>
												<ul style="list-style-type:disc">
													<li>On-site nutritious meals</li>
													<li>Opportunities for social interactions to combat loneliness and isolation</li>
												</ul>
											</section>
											<section>
												<header>
													<h3>Home Delivered Meal Program:</h3>
												</header>
												<ul style="list-style-type:disc">
													<li>Meal delivery to the homes of frail, elderly, disabled and otherwise home-bound persons.</li>
													<li>Wellness checks to ensure safety and well-being.  Our monitors report tasks, such as changing a light bulb that the client cannot reach, to advising family members or case managers of the need for medical attention.</li>
												</ul>
											</section>
											<section>
												<header>
													<h3>Activities:</h3>
												</header>
												<ul style="list-style-type:disc">
													<li>Over 840 activities provided each year:</li>
													<li>Zumba</li>
													<li>Bingo</li>
													<li>Restaurant Outings</li>
													<li>Tai Chi</li>
												</ul>
											</section>
											<p>If you are interested in more information please contact:</p>
											<section>
												<header>
													<h3>Chandler Senior Center</h3>
												</header>
												<p>202 E. Boston St.<br>Chandler, AZ 85225<br>480-782-2721</p>
											</section>
											<section>
												<header>
													<h3>Gilbert Senior Center</h3>
													<p>130 N. Oak St.<br>Gilbert, AZ 85233<br>480-503-6061</p>
												</header>
											</section>
										</div>

									</article>

							</div>
						</div>
					</div>
				</div>
								<!-- Copyright -->
									<div id="copyright">
										<ul class="links">
											<li>&copy; Chandler Christian Community Center • 480-963-1423 • Fax - 480-726-0896
												345 S. California St. • Chandler, AZ 85225 • Sitemap
												PO Box 591 • Chandler, AZ 85244 <br>Copyright © 2005-2015 All Rights Reserved
											</li>
										</ul>
									</div>

							</div>
						</div>
					</section>
				</div>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/skel-viewport.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			<!--<script>
			$(document).ready(function(){
				//$('.hidden').hide();
			$('.current').click(function(){
				//alert('hi');
			$('.current').removeClass('selected-list');
			$(this).addClass('selected-list');
			//$('#seniors').show();
			return false;
			});

			});
			</script>-->
			<script>
			$(document).ready(function(){
			$('.current').click(function(){
			$('.current').removeClass('selected-list');
			$(this).addClass('selected-list');
			});
			
			if(window.localStorage.getItem("logged_in")!=null){
			if(window.localStorage.getItem("logged_in")==1){
			$('#logout_name').html(window.localStorage.getItem("first_name")+" <a onclick='logout();'>Logout</a>");
			}
			
			
			function logout(){
    		localStorage.clear();
    		window.location.href="home.html";
    		}
			}
			});
			</script>

	</body>
</html>