<!DOCTYPE HTML>
<html>
	<head>
		<title>Chandler Christian Community Center</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<link rel="shortcut icon" href="images/logo1.jpg">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	</head>
	<body class="left-sidebar">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header">

						<!-- Logo -->
							<!--<h1><a href="index.html">Dopetrope</a></h1>-->

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a href="home.html">Home</a></li>									
									<li><a href="NeedHelp.html">NEED HELP?</a></li>
									<li><a href="programs.html">Programs</a></li>
									<li><a href="Events.html">Events</a></li>
									<li class="current"><a href="workWithUs.html">Work With Us!</a></li>									
									<li><a href="contact.html">Contact</a></li>
									<li><a href="no-sidebar.html">Sign In/Register</a></li>
								</ul>
							</nav>

					</div>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div class="row">
							<div class="4u 12u(mobile)">

								<!-- Sidebar -->
									<section class="box">
										<header>
											<ul class = "divided" style:"align:center">
													<li><h3><a href='#Vol' class = "current selected-list" >Volunteer</a></h3></li>
													<li><h3><a href='#Job' class = "current" >Jobs</a></h3></li>
													<li><h3><a href='#Spon' class = "current" >Sponsors</a></h3></li>
											</ul>
										</header>
									</section>
									
							</div>
							<div class="8u 12u(mobile) important(mobile)">

								<!-- Content -->
									<article class="box post">
										<div id="Vol">
											<section>
											<header>
												<h2>Volunteer Your Time To Make A Difference</h2>
											</header>
											<p>
												Join Chandler Christian Community Center to make a difference in the lives of others.Volunteers assist a great deal with the day to day workload. The Center needs volunteers.
											</p>
										</section>
											<section>
												<header>
													<h3>Volunteer Opportunities</h3>
												</header>
												<ul style="list-style-type:disc"> 
													<li>Sort &amp; package food Distribution boxes</li>
													<li>Provide office assistance or data entry</li>
													<li>Help clean-up and maintenance projects</li>
													<li>Assist with family programs, classes or child watch</li>
													<li>Assist with Operation Santa and Back to School Programs</li>
													<li>Conduct a food drive or fundraiser</li>									
													</li>
												</ul>	
											</section>
											<section>
												<header>
													<h3>Special Events</h3>
												</header>
												<p>
													Special events serve as fund raisers and friend raisers for CCCC, participation by individuals, companies and sponsors is the key to their success. CCCC would be delighted to have you participate in our special event programs as an event volunteer or committee member. It’s our community that brings every event together.
												</p>
											</section>
											<section>
												<header>
													<h3>Schedule Some Time</h3>
												</header>
												<p>
													Volunteers are encouraged to take a tour of the facilities. Tour includes a brief orientation and scheduling of volunteer time. Bilingual abilities are an added bonus. If you have some spare time to help out the people in Your Community,<span style="font-weight:bold"> please call and Volunteer 480-963-1423 ext. 102</span>.<br>CCCC also accepts Court Ordered Community Service volunteers, on a case-by-case base
												</p>
											</section>
										</div>
									</article>
									<article class="box post">
										<div id = "Job">
											<section>
												<header>
													<h2>JOBS</h2>
												</header>
											</section>
											<section>
												<header>
													<h3>PART-TIME PROGRAM SPECIALIST:</h3>
												</header>
												<h4>Job Description:</h4>
												<p>Coordinates CCCC’s operations at the Chandler Senior Center, including the food program, in order to offer resources and services that nourish and assists persons age 60+. CCCC’s Senior Programs staff act in accordance with the Senior Programs guiding principles: advocate for the well-being, respect individuality, engage in meaningful activities, and foster independence of/for the people we serve.</p>
											</section>
											<section>
												<header>
													<h4>ESSENTIAL DUTIES AND RESPONSIBILITIES:</h4>
												</header>
												<ul style="list-style-type:disc"> 
													<li>Responsible for implementation of all aspects of the program operation at CCCC’s Chandler Senior Center including meal service, food preparation, and customer service.</li>
													<li>Coordinates serving of food; oversees table setting in, dining room; serves congregate meals at designated time; ensures appropriate portion size; follows dietician’s notes for menu modifications.</li>
													<li>Organizes and maintains kitchen, serving and dining areas (i.e. cleanliness, counter tops, cabinets, drawers, sinks, tables, and equipment); ensures service areas are ready for food service (drink dispensers, ice machine) that tables are cleared and cleaned immediately after meals; supervises cleaning and sanitizing of servicing trays, carts, equipment and dish washing according to standards of sanitation.</li>
													<li>Maintains standards and ensures compliance with current prevailing regulations regarding food service, sanitation, health, and safety.</li>
													<li>Receives and prepares food as directed, in accordance with the menu.</li>
													<li>Tests food temperatures daily and logs results.</li>		
													<li>Provides oversight for volunteers in service and delivery of meal and customer service operations, including training and scheduling: recruits participants for Center based volunteer roles.</li>
													<li>Keeps immediate supervisor promptly and fully informed of all problems or unusual matters of significance and takes prompt corrective action where necessary or suggests alternative courses of action which may be taken.</li>
													<li>Performs all duties and responsibilities in a timely and effective manner in accordance with established company policies.</li>
													<li>Promotes family, staff and community involvement with all aspects of the Senior Center programming.</li>
													<li>Participates in cost controls measures as directed.</li>
													<li>Assists with cash security and controls.</li>
													<li>Exercises confidentiality, sensitivity, and professionalism and upholds company values and goals.</li>
													<li>Demonstrates continuous effort to improve operations, streamlines works processes and works cooperatively to provide quality, seamless customer service</li>
												</ul>	
											</section>
											<section>
												<header>
													<h3>Candidates should email a resume and cover letter to <span style="font-weight:bold">Trinity Donovan at info@chandlerfoodbank.org<span>.</h3>
												</header>
											</section>
											
										</div>

									</article>
									<article class="box post">
										<div id = "Spon">
											<section>
												<header>
													<h2>SPONSORS</h2>
												</header>
												<p>
													Financial contrabutions from corporations, foundations, and government agencies provide important support in sustaining Chandler Christian Community Center.
												</p>
											</section>
											<section>
												<header>
													<h3>Our Funders include:</h3>
												</header>
												<ul style="list-style-type:disc"> 
													<li>Area Agency on Aging</li>
													<li>Chandler Service Club</li>
													<li>City of Chandler</li>
													<li>Maricopa County</li>
													<li>ATown of Gilbert</li>		
												</ul>	
											</section>
											<section>
												<header>
													<h3>Major in-kind donations include:</h3>
												</header>
												<ul style="list-style-type:disc"> 
													<li>Bashas’</li>
													<li>Chipotle</li>
													<li>Costco</li>
													<li>Fry’s</li>
													<li>Pizza Hut</li>
													<li>United Food Bank</li>		
													<li>Starbucks</li>
												</ul>	
											</section>
											<section>
												<header>
													<h3>Non-Profit Supporters:</h3>
												</header>
												<ul style="list-style-type:disc"> 
													<li>Channel 12 Season for Sharing</li>
													<li>Dignity Health</li>
													<li>First Things First</li>
													<li>Kiwanis Club</li>
													<li>Lions Club</li>
													<li>Local Churches</li>									
													<li>Rotary Clubs</li>	
													<li>Soroptimist Club</li>	
													<li>United Food BankUnited Way</li>	
												</ul>	
											</section>
										</div>
									</article>

							</div>
						</div>
					</div>
				</div>
								<!-- Copyright -->
									<div id="copyright">
										<ul class="links">
											<li>&copy; Chandler Christian Community Center • 480-963-1423 • Fax - 480-726-0896
												345 S. California St. • Chandler, AZ 85225 • Sitemap
												PO Box 591 • Chandler, AZ 85244 <br>Copyright © 2005-2015 All Rights Reserved
											</li>
										</ul>
									</div>

							</div>
						</div>
					</section>
				</div>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/skel-viewport.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>
			<script>
			$(document).ready(function(){
			$('.current').click(function(){
			$('.current').removeClass('selected-list');
			$(this).addClass('selected-list');
			});
			});
			</script>

	</body>
</html>